#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  border: 3px solid black;
  padding: 2px;
}

.app-container {
  display: flex;
  gap: 2px;
  padding: 2px;
}

.homePage {
  border: 2px solid orange;
  padding: 1px;
  flex: 1;
}

.header {
  border: 2px solid blue;
  padding: 1px;
  margin-bottom: 1px;
}

.searchBar { 
  border: 2px solid green;
  padding: 1px;
  margin-bottom: 15px;
}

.employeePage {
  border: 2px solid brown;
  padding: 1px;
  flex: 1;
}

.employeeList {
  border: 2px solid purple;
  padding: 1px;
}

.employeeListItem {
  border: 2px solid red;
  padding: 1px;
  margin: 1px 0;
}

.card {
  padding: 2em;
}